<!--<div class="bxslider">
	<div class="slide"><img src="http://cfile10.uf.tistory.com/image/221F973652C57D4928557B" title="first moon"/></div>
	<div class="slide"><img src="http://img.tenasia.hankyung.com/webwp_kr/wp-content/uploads/2013/12/2013123122004016776.jpg" title="second moon"/></div>
	<div class="slide"><img src="http://cfile28.uf.tistory.com/image/237EE53652C57D50387D88" title="third moon"/></div>
	<div class="slide"><img src="http://cfile7.uf.tistory.com/image/155AD3344F19330336504B" title="fouth moon"/></div>
</div>-->

<section class="main_image">
<ul class="bxslider">
		<li style="background-image: url('http://cfile10.uf.tistory.com/image/221F973652C57D4928557B');" title="first moon"/></li>
		<li style="background-image: url('http://img.tenasia.hankyung.com/webwp_kr/wp-content/uploads/2013/12/2013123122004016776.jpg');" title="second moon"/></li>
		<li style="background-image: url('http://cfile28.uf.tistory.com/image/237EE53652C57D50387D88');" title="third moon"/></li>
		<li style="background-image: url('http://cfile7.uf.tistory.com/image/155AD3344F19330336504B');" title="fouth moon"/></li>
	</ul>
</section>

<form>
	<input type="text" value="hello" onchange="bgcolor_yellow(this)" />
</form>
